body {
    background: #fff;
}
input {
    padding: 5px;
    background: #ccc;
    margin: 10px;
}

.btn {
    padding: 10px;
}

.otherProfile img {
    width: 300px;
    height: 400px;
    object-fit: cover;
    border: 1px solid;
    border-radius: 10px;
    margin-top: 10px;
}

/* -----header profilePic & Logo ---------*/

#header_component {
    height: 100px;
    border: 1px solid #000;
}
#header_component #profilePic_img {
    height: 80px;
    width: 80px;
    object-fit: cover;
    border-radius: 10px;
    float: right;
    margin: 10px;
}
.logo {
    width: 100px;
    height: 100px;
    margin: 10px;
}

/* ------------Navbar------------------- */
#navbar {
    height: 40px;
    border: 1px solid #000;
    font-family: "Tourney", cursive;
}
.nav_left {
    float: left;
    display: flex;
    margin-left: -35px;
    padding-right: 30px;
}
.nav_right {
    display: flex;
    float: right;
    margin-right: 5px;
}
.nav_left .navbar_list {
    padding-right: 30px;
    list-style-type: none;
}
.nav_right .navbar_list {
    padding-left: 30px;
    list-style-type: none;
}
.navbar_links {
    text-decoration: none;
    color: #000;
}
.navbar_links:hover {
    color: tomato;
    text-decoration: underline;
}
/* ---------------profile--------------------- */
#profile_container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
}

#profile_container_pic {
    width: 50%;
}
#profile_container .image-big {
    object-fit: cover;
    width: 50vw;
}

.profile_container_bio {
    border: 1px solid tomato;
    width: 30vw;
    height: 200px;
    margin-left: 30px;
    overflow: auto;
}
.name {
    border: 1px solid tomato;
}
/* ----------------------------------- */
.search_results {
    display: grid;
    grid-template-columns: 150px 150px 150px 150px;
    grid-auto-rows: 210px;
    gap: 20px;
    border: 1px solid;
    width: max-content;
    overflow-y: auto;
    height: 550px;
}
.search_results img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px dashed;
}
div .user_box {
    margin-left: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.user_box,
.friends_box a {
    text-decoration: none;
    color: #000;
}
.user_box,
.friends_box a:hover {
    color: tomato;
}
/* ----------------------------------------- */
#uploader_container {
    position: fixed;
    border-radius: 5px;
    width: 355px;
    height: 100px;
    background: rgb(20, 20, 20, 0.7);
    top: 10px;
    left: 73%;
    transform: translate(-50%, 50%);
    z-index: 1;
}

.uploader-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%);
}
.upload_btn {
    position: absolute;
    right: 85px;
    top: 77px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    background: transparent;
}
.upload_btn:hover {
    background-color: tomato;
}

#uploader_container button {
    position: absolute;
    top: 66px;
    left: 35%;
}
/* ---------------------------- */
.friends_box img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 10px;
    border: 1px solid;
}
.friends_list {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-auto-rows: 210px;
    gap: 20px;

    width: max-content;
    height: 300px;
    border-bottom: 1px solid #000;
}
.btn_in_friends:hover {
    background-color: tomato;
    cursor: pointer;
}
#chat_container {
    position: fixed;
    border-radius: 5px;
    width: 600px;
    height: 400px;
    background: rgb(20, 20, 20, 0.7);
    top: 10px;
    left: 54%;
    transform: translate(-50%, 50%);
    z-index: 1;
}
#chat_container textarea {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%);
}
#chat_container button {
    position: absolute;
    right: 131px;
    top: 93%;
    cursor: pointer;
}
