/* #A14C3F;
 #FFF9E4; */

body {
    background-image: url("/mandala-illustration_53876-81805.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
section {
    display: flex;
    justify-content: center;
}
.input_box {
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40vw;
    background: linear-gradient(120deg, #a14d35, transparent);
    height: 60vh;
    border-radius: 20px;
}
input {
    padding: 8px;
    margin: 5px 12px;
}
button {
    width: 30%;
    padding: 5px;
    align-self: center;
    cursor: pointer;
}
.username {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.birthday {
    display: flex;
    justify-content: space-between;
}
select {
    padding: 10px;
    margin: 5px 20px;

    border: none;
    background: aquamarine;
}
form p {
    align-self: center;
}
.logo {
    width: 200px;
}
.logo_container {
    display: flex;
    justify-content: center;
}
