body {
    background: linear-gradient(to left, teal, lightsalmon);
    
}
.regisration_container,
.login_fadein,
#profile_container,
#friends_container,
#App_container,
.findPeople_container,
#messages_container,
{
    animation: fadeIn ease 2s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.regisration_container {
    position: relative;
    border-radius: 5px;
    width: 600px;
    height: 400px;
    background: rgb(20, 20, 20, 0.7);

    left: 25%;
    z-index: 1;
}
.input_register {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;

    left: 39%;
}
.login_container {
    position: relative;
    border-radius: 5px;
    width: 600px;
    height: 400px;
    background: rgb(20, 20, 20, 0.7);
    left: 25%;
    z-index: 1;
}
.input_login {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 36%;
    top: 35%;
}
.input_register input {
    margin: 10px;
    padding: 10px;
}

.btns_register {
    display: flex;
    flex-direction: unset;
    align-items: center;
    position: absolute;
    left: 49%;
    bottom: 0;

    background-color: transparent;
}
.btns_register button:hover {
    background-color: tomato;
    cursor: pointer;
}
.pwReset button:hover {
    background-color: tomato;
    cursor: pointer;
}
.login_btns {
    position: absolute;
    left: 41%;
    bottom: 12%;
}
.pwReset {
    position: absolute;
    left: 41%;
    bottom: 40%;
}

.input_login input {
    margin: 10px;
    padding: 10px;
}
.login_btns button:hover {
    background-color: tomato;
    cursor: pointer;
}
.login-div2 {
    margin: 15px 5px 0px 0px;
}

.login-div2 a:hover {
    color: tomato;
}

.btn_0 {
    margin-left: 10px;
}
.p_0 {
    margin-left: 45px;
}
a {
    text-decoration: none;
    color: #000;
}

.otherProfile img {
    width: 300px;
    height: 400px;
    object-fit: cover;
    border: 1px solid;
    border-radius: 10px;
    margin-top: 10px;
}

/* -----header profilePic & Logo ---------*/

#header_component {
    height: 100px;
    border: 1px solid #000;
}
#header_component #profilePic_img {
    height: 80px;
    width: 80px;
    object-fit: cover;
    border-radius: 10px;
    float: right;
    margin: 10px;
}
.logo {
    width: 100px;
    height: 100px;
    margin: 10px;
}

/* ------------Navbar------------------- */
#navbar {
    height: 40px;
    border: 1px solid #000;
    font-family: "Tourney", cursive;
}
.nav_left {
    float: left;
    display: flex;
    margin-left: -35px;
    padding-right: 30px;
}
.nav_right {
    display: flex;
    float: right;
    margin-right: 5px;
}
.nav_left .navbar_list {
    padding-right: 30px;
    list-style-type: none;
}
.nav_right .navbar_list {
    padding-left: 30px;
    list-style-type: none;
}
.navbar_links {
    text-decoration: none;
    color: #000;
}
.navbar_links:hover {
    color: tomato;
    text-decoration: underline;
}
/* ---------------profile--------------------- */
#profile_container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
}

#profile_container_pic {
    width: 50%;
}
#profile_container .image-big {
    object-fit: cover;
    width: 40vw;
    margin: 10px;
    border-radius: 10px;
}

.profile_container_bio {
    width: 30vw;
    height: 200px;
    margin-left: 70px;
    overflow: auto;
    align-self: center;
    line-height: 20px;
    
}
.profile_container_bio button {
    background-color: transparent;
    border: none;
    font-size: 20px;
}
.profile_container_bio button:hover {
    color: tomato;
    text-decoration: underline;
}
.name {
    border-bottom: 1px solid tomato;
    margin: 10px;
}
/* ----------------------------------- */
.findPeople_container input {
    padding: 10px;
    margin: 10px;
    border: none;
    background: transparent;
    border-bottom: 1px solid;
}
.search_results {
    display: grid;
    grid-template-columns: 150px 150px 150px 150px;
    grid-auto-rows: 210px;
    gap: 20px;
    border: 1px solid;
    width: max-content;
    overflow-y: auto;
    height: 550px;
}
.search_results img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px dashed;
}
div .user_box {
    margin-left: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.user_box,
.friends_box a {
    text-decoration: none;
    color: #000;
}
.user_box a:hover {
    color: tomato;
}
.friends_box a:hover {
    color: tomato;
}
.user_box:hover {
    color: tomato;
}
/* ----------------------------------------- */
#uploader_container {
    position: fixed;
    border-radius: 5px;
    width: 355px;
    height: 100px;
    background: rgb(20, 20, 20, 0.7);
    top: 10px;
    left: 73%;
    transform: translate(-50%, 50%);
    z-index: 1;
}

.uploader-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%);
}
.upload_btn {
    position: absolute;
    right: 85px;
    top: 77px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    background: transparent;
}
.upload_btn:hover {
    background-color: tomato;
}

#uploader_container button {
    position: absolute;
    top: 66px;
    left: 35%;
}
/* ---------------------------- */
.friends_box img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 10px;
    border: 1px dashed;
}
.friends_list {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-auto-rows: 210px;
    gap: 20px;

    width: max-content;
    height: 300px;
    border-bottom: 1px solid #000;
}
.btn_in_friends:hover {
    background-color: tomato;
    cursor: pointer;
}
#chat_container {
    position: fixed;
    border-radius: 5px;
    width: 59.4%;
    height: 15vh;
    background: rgb(20, 20, 20, 0.6);
    bottom: 3px;

    z-index: 1;
}
#chat_container textarea {
    position: absolute;
    top: 8px;
    left: 2px;
    border-radius: 5px;
}
#chat_container button {
    position: absolute;
    bottom: 10%;
    right: 30%;
    cursor: pointer;
    border: none;
    background: lightblue;
    border-radius: 10px;
    padding: 5px;
}
.user_message {
    margin: 10px;
}
.user_message img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 35%;
    align-self: center;
    margin-right: 10px;
}
.user_message a p {
    margin: 10px 10px 0 0;
    font-family: monospace;
}
#messages_container {
    width: 60%;
    height: 60vh;
    overflow-y: auto;
    background-color: aliceblue;
    border-radius: 5px;
    position: relative;
}
.user_in_chat {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    width: 600px;
    height: fit-content;
    background: lightgray;
    border-radius: 20px;
}
.datum {
    font-size: 14px;
}
.message_text {
    font-size: 16px;
    font-family: "Libre Caslon Text", serif;
}
